.one___flkjsjJJNJnn_nANN8hG_YG7GY7g7BH9 {
  height: 300px !important;
  border-radius: 0.5rem;
}
.video-react-lower-bar_dhhiahhbhhbhb3767d7637____u {
  border-radius: 0.5rem;
}

.poster {
  display: none;
}
