.header-div{
    padding: 1rem 0.2rem;
     width: 100%;
    background: linear-gradient(to left, #ec24c1, #d8374c, #fc8c0c);
    display: flex;
}
.card-div{
    /* border: 1px solid #808080; */
    width: 70%;
    margin-top: 3rem;
    border-radius: 1.2rem;
    padding: 1.5rem 0rem;
    box-shadow: 1.3px 3px 0px rgb(241, 238, 238), -1px 0px 0px rgb(241, 238, 238);
}
.img-span{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: absolute;
}
.option-div{
    width: 100%;
    padding: 1.2rem 0rem;
    box-shadow: 0px 3px 0px rgb(230, 228, 228);
    display: flex;
    align-items: center;


}
.row.option-div{
    margin-left: 0 !important;
}
i{
    cursor: pointer;
}